/*  ===== classes  =====*/
.font{
  font-family: 'Trocchi', serif;

}


/*====== navbar ===== */

li{
  list-style-type: none;
  /* display: inline; */
  display: inline-block;
  padding-left: 3rem;
  padding-right: 3rem;
}

nav{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* background: rgba(255, 255, 255, 0) ; */
  /* background: #f8f9fa; */
  background: none;
  /* overflow: hidden; */
  width: 100%;
  position: fixed;
  z-index: 1;
}
nav a{
  color: #5c5c5c;
  text-decoration: none; 
  font-size: large;
  font-weight: 500;
}
nav a:hover{
  text-decoration: underline;
  text-decoration-color: #4DA1A9;

}
#nav-name{
  padding-right: 5rem;
  padding-left: 5rem;
}
#nav-name a{
  color:#4DA1A9;
  font-weight: 700;
}
ul{
  margin:0;
  /* width: 50%; */
  margin: auto;
  text-align: center;
}
.toggle-button{
  display: none;
}
.brand-title{
  display: none;
}



/* ====== colors ========= */

.main-color{
  background: #f8f9fa;
}

/* ======= main div ========= */
#main-div{
  height: 40rem;
  background-image: url('/images/FC850D24-C923-4719-B52D-A6454CCDE87F_1_201_a-removebg-preview.png');
  /* background-image: url('/images/travis2.png'); */
  background-repeat: no-repeat;
  /* background-position-x: right; */
  /* background-size: 37rem;
  background-position-x: 31rem; */
  background-position-y: -6rem;
  background-size: 39rem;
  background-position-x: 41rem;
  overflow: hidden;
}
#greet a{
  border: 3px solid #4DA1A9;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  text-decoration: none;
  color: white;
  background: #4DA1A9;
  /* width: 8em; */
  border-radius: 4em;
  font-weight: 800;
  padding-top: .6rem;
  padding-bottom: .6rem;
 
}
#greet a:hover{
  background: white;
  color: black;
}
.container{
  padding-left: 4rem;
  padding-right: 4rem;
}
#greet{
  margin-top: 13rem;
  width: 36rem;
  /* margin-left: 4rem; */

}
#greet h1{
  font-size: 3.5em;  
  padding-bottom: .1em;
}
#greet h2{
  font-size: 1.3em;
  padding-bottom: 2rem;

}

/* ==== about ====== */

.about h3{
  font-size: 2.1rem;
  padding-bottom: 10px
}
.line{
  border-top: solid  #4DA1A9;
  width: 49px;
  border-width: 4px;

}
.about{
  margin-top: 13rem; 
}
.about-div img{
  width: 250px;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;

}
.about-div{
  display: flex;
  padding-top: 3rem;
}
.about-div p{
  font-family: 'Trocchi', serif;
  color: #5c5c5c;
  line-height: 1.5rem;
}

/* ======= portfolio ====== */

.portfolio h3{
  font-size: 2.1rem;
  text-align: center;
  padding-bottom: 3rem;
}
.portfolio{
  margin-top: 13rem; 
}
.portfolio-div{
  padding-top: 3rem;
  display: flex;
}
.portfolio-div div{
    height: 10rem;
    /* border: aliceblue;
    border: solid; */
    width: 20rem;
    margin: auto;
    transition: all 0.7s ease;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.46);
    cursor: pointer;
}

.p1{
  background: url('/images/broadbrush.png');
  /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/broadbrush.png') center center; */
  transition: all 0.7s ease;
}
#med-portfolio{
  display: none;
}

.fit-background{
     background-position: center;
     background-size: cover;
}
.sm-portfolio{
  display: none;
}

/* ====== contact form  ==== */

.contact h3{
  font-size: 2.1rem;
  text-align: center;
  padding-bottom: 3rem;
}
.contact{
  margin-top: 13rem; 
}
input{
  border: none;
  /* width: 50%; */
  height: 3rem;
  border-bottom: solid;
  -webkit-appearance: none;
  -webkit-appearance: none;
  box-shadow: none !important;
   border-width: 1px;
   border-color: lightgray;
   font-size: large;
   margin-bottom: 2rem;
}
input:focus{
  outline: none;
  border-bottom-color: black;
}
form .class{
  display: flex;
}
form input:first-child{
  margin: auto;
  width: 50%;
  margin: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
form input:nth-child(2){
  margin: auto;
    width: 45%;
    margin-right: 0;
}
::placeholder{
  color: rgb(151, 148, 148);
  font-size: medium;
}
form input:nth-child(3){
  width: 100%;
  margin-bottom: 3rem;
}
#email{
  width: 100%;
  margin-bottom: 2rem;
}
textarea:focus{
  outline: none;
  border-bottom: solid;
  border-bottom-color:black ;
  border-width: 1px;
}
textarea{
  width: 100%;
  font-size: large;
  border: none;
  margin-bottom: 1rem;
}
#submit-btn{
  background: #4DA1A9;
  color: white;
  width: 7rem;
  height: 2.5rem;
  font-size: medium;
  border-radius: 4rem;
  border: 3px solid #4DA1A9;
}
#submit-btn:hover{
  background: white;
  color: black;
  cursor: pointer;
}
#subject{
  width: 100%;
}
.show-project{
  display: none;
  background:#4DA1A9;
  /* width: 62rem; */
  margin: auto;
  position: relative;
}
.exit{
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
.exit:hover{
  cursor: pointer;
}
.show-project div{
  /* width: 22rem; */
  color: white;
  padding-top: 10rem;
  display: inline-flex;
}
.show-project p{
  padding-left: 3rem;
}
#github{
  margin-right: 3rem;
}
#internet{
  margin-right:6rem
}





/* ====== footer ===== */

footer{
  height: 14rem;
  background: #343A45;
  margin-top: 13rem;
}
footer img{
  /* width: 40px; */
  width: 2rem;
}
.icons{
    width: 10rem;
    display: flex;
    margin: auto;
    padding-top: 5rem;
}
.icons a{
  padding-right: 1rem;
}





/* ===== tablet ======= */

@media only screen and (min-width: 768px) and (max-width: 840px){
 
  /*==========  responsive nav ========================= */
  nav{
    position: sticky;
  }
  h4{
    color: #4DA1A9;
    font-size: larger;
    font-weight: bolder;
    padding-left: 11px;
  }
  .li:hover{
    background: darkcyan;
  }

  .menu{
    display: none;
    position: absolute;
    width: 100%;
  }
  #nav-name{
    display: none;
  }
  .brand-title{
    display: block;
    font-size: larger;
    padding-bottom: 19px;
  }
  .toggle-button{
    position: absolute;
    top: .75rem;
    right:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
  }
 .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  }
 
  #main-div{
    background-position-x: 24rem;
  }
  .about-div img{
    display: none;
  }
  .about-div{
    display: block;
  }
  .about-div p:first-child{
    padding-bottom: 2rem;
  }
  .about-div p{
    font-size: 20px;
  }
  form input:first-child{
    width: 100%;
  }
  form input:nth-child(2){
    margin-bottom: 2rem;
    width: 100%;
  }
  #p3{
    display: none;
  }
  #p6{
    display: none;
  }
  #med-portfolio{
    display: flex;
  }

    /* === nav menu click ==== */
    .menu1{
      display: grid;
      background: #343A45;
    } 
    .nav1{
      background: #343A45;
      color: white;
    }
     .bar1{
      background-color: white;
      height: 3px;
      width: 100%;
      border-radius: 10px;
    }

    .span1{
      color: white;
    }
    .li{
      text-align: start;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem; 
    } 

      /* === end nav menu click ==== */ 

}
@media only screen and (min-width: 320px) and (max-width: 420px){
  .brand-title h4{
    display: none;
  }
  .menu{
    display: none;
    position: absolute;
    width: 100%;
  }
  .about-div img{
    display: none;
  }
  #main-div{
    background-position-x: 0rem;
    background-position-y: 0rem;
    background-size: 31rem;
  }
  ul{
    display: inline-grid;
  }
  #greet{
    margin-top: 19rem;
    margin-left: 2rem;
    width: auto;
  }
  .about-div{
    display: block;
  }
  form input:first-child{
    width: 100%;
  }
  form input:nth-child(2){
    width: 100%;
    margin-bottom: 2rem;
  }
  .toggle-button{
    display: block;
    position: absolute;
    top: .75rem;
    right:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
  }
  #nav-name{
    display: none;
  }
  .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  .brand-title{
    display: block;
    font-size: larger;
    padding-bottom: 19px;
  }
  nav{
    position: sticky;
  }
  h4{
    color: #4DA1A9;
    font-size: larger;
    font-weight: bolder;
    padding-left: 11px;
  }
  #p2{
    display: none;
  }
  #p3{
    display: none;
  }
  #p5{
    display: none;
  }
  #p6{
    display: none;
  }
  .sm-portfolio{
    display: flex;
  }

      /* === nav menu click ==== */
      .menu1{
        display: grid;
        background: #343A45;
      } 
      .nav1{
        background: #343A45;
        color: white;
      }
       .bar1{
        background-color: white;
        height: 3px;
        width: 100%;
        border-radius: 10px;
      }
  
      .span1{
        color: white;
      }
      .li{
        text-align: start;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem; 
      } 
  
        /* === end nav menu click ==== */ 

}