/* .navbar a{
  text-decoration: none;
  color: black;
  float: right;


  padding: 1rem;
  margin-right: 4rem;
 
  font-family: 'Hind Vadodara', sans-serif; 
} */
.navbar{
  /* padding: 2rem; */
  overflow: hidden;
  width: 100%;
  position: fixed;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
li{
  display: inline;
}
.navbar a:hover{
  /* background: coral; */
  color: black;
}
.changeColor{
  background: green;
}
.burger-menu{ 
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  /* float: right; */
}
.burger{
  display: none;
  float: right;
  padding: 1.2rem;
}
#brand-mobile{
  display: none;
  padding: 1.2rem;
  padding-top: 1.4rem;
  font-size: 1.5rem;
}


/*======== main section ============= */


.main-section{
  /* background: rgb(55,55,55); */
  /* background: #ffffff; */
  background: #f8f9fa;
 
  width: 100%;
  height: 35rem;
  
}
.responsive{
  float: right;
  width: 100%;
  max-width: 453px;
  height: auto;
  padding-right: 5rem;
  /* position: fixed;  */
}
.name-title{
  padding-top: 6rem;
  padding-left: 5rem;
  /* color: white; */
  /* background: #ffffff; */
  background: #f8f9fa;
}
.name-title h1{
  font-size: 4.3em;
  padding-bottom: 0;
  font-weight: bold;
  font-family: 'Hind Vadodara', sans-serif;
  padding-bottom: .1em
}
.name-title p{
  font-size: 1.4em;
  font-family: 'Hind Vadodara', sans-serif;
  padding-bottom: 1.7rem;
  line-height: 1.6;
}
#p2{
  font-size: 1rem;
}
.name-title-mobile{
  display: none;
  padding-top: 6rem;
  padding-left: 5rem;
  color: white;
}
/* ===== footer  ======== */
footer{
  /* background: rgb(55,55,55); */
  height:14rem;
}

/* =========== projects ===============*/

.projects{
  height: 50rem;
}
.grid-container{
  padding-top: 20px;
  display: grid;
  column-gap: 5rem;
  row-gap: 5rem;
  grid-template-columns: auto auto ;
}
.grid-item{
  
  /* width: 15rem; */
  height: 15rem;
  background-size: contain;
  background-size: cover;
  
}
.container{
  width: 70rem;
  margin: auto;
}
#grid1{
  background-image: url(../images/Screen\ Shot\ 2019-12-12\ at\ 12.32.25\ AM.png)
}
#grid2{
  background-image: url(../images/Screen\ Shot\ 2019-12-12\ at\ 2.16.50\ AM.png)
}
.card{
  /* background: rgba(165, 83, 83, 0.247); */
  background: rgba(255, 127, 80, 0.644);
  width: 100%;
  height: 100%;
  
}




/* ======= container  ========= */

/* .container{
  width: 80%;
} */

/*======= media queries ========= */

@media only screen and (min-width: 320px) and (max-width: 420px){
 

  .burger-menu{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    /* float: right; */
  }
  .burger{
    display:block;
    float: right;
    padding: 1.2rem;
  }
  .navbar a{
    display: none;
  }
  #brand-mobile{
    display: block;
    float: left;
    color:white;
    font-weight: bold;
  }
  .responsive{
    width: 20rem;
    padding: 0;
  }
  .name-title{
   display: none;
  }
  .name-title-mobile{
    display: block;
    padding-top: 6rem;
    padding-left: 0;
    color: white;
  }
  .name-title-mobile h1{
    font-size: 4.3em;
    padding-bottom: 0;
    font-weight: bold;
    font-family: 'Hind Vadodara', sans-serif;
    text-align: center;
  }
  .name-title-mobile p{
    font-size: 1.4em;
    font-family: 'Hind Vadodara', sans-serif;
    padding-bottom: 1.7rem;
    line-height: 1.6;
    text-align: center;
  }
  /* .grid-container{
    padding-top: 20px;
    display: grid;
    column-gap: 5rem;
    row-gap: 5rem;
    grid-template-columns: auto  ;
  } */
  
  }

